### changed by Marcus A. P. Oliveira

CONFIG_ESP_SLEEP_DEBUG=y


#
# The Things Network
#
# CONFIG_TTN_LORA_FREQ_DISABLED is not set
# CONFIG_TTN_LORA_FREQ_EU_868 is not set
CONFIG_TTN_LORA_FREQ_US_915=y
# CONFIG_TTN_LORA_FREQ_AU_915 is not set
# CONFIG_TTN_LORA_FREQ_AS_923 is not set
# CONFIG_TTN_LORA_FREQ_AS_923_JP is not set
# CONFIG_TTN_LORA_FREQ_KR_920 is not set
# CONFIG_TTN_LORA_FREQ_IN_866 is not set
# CONFIG_TTN_RADIO_SX1272_73 is not set
CONFIG_TTN_RADIO_SX1276_77_78_79=y
CONFIG_TTN_SPI_FREQ=1000000
CONFIG_TTN_RESET_STATES_FLOATING=n
# CONFIG_TTN_RESET_STATES_ASSERTED is not set
CONFIG_TTN_BG_TASK_PRIO=10
CONFIG_TTN_PROVISION_UART_DEFAULT=y
# CONFIG_TTN_PROVISION_UART_CUSTOM is not set
# CONFIG_TTN_PROVISION_UART_NONE is not set
CONFIG_TTN_PROVISION_UART_NUM=0
# end of The Things Network

